<main class="home">
  <mat-card>
    <mat-card-header>
      <mat-card-title>This is a Messages Firebase App</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Technologies used: Angular, RXJS, NgRx, Angular Material, Angular Fire.</p>
      <p>Connected to a Firebase.</p>
      <p>Home and Messages modules are lazy loaded.</p>
      <p>Submission of new message and Loading of collection implemented with NgRx.</p>
      <p>by Olga Krayevska <a href='mailto:olga.krayevska435@gmail.com'>olga.krayevska435@gmail.com</a></p>
    </mat-card-content>    
  </mat-card>
</main>
